#left {
    float: left;
    width: 30%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#right {
    float: right;
    width: 70%;
    height: 100%;
    overflow:auto;
    overflow-y: hidden;
}