{% extends "layout.html" %}
{% block content %}
<h1>Requests</h1>
    {% if users %} 
    <div class="row row-cols-1 row-cols-md-3 g-4">

       
        {% for user in users %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{user.from_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted" >{{user.from}}</h6>
                    <a class="btn btn-primary" href="{{url_for('public.accept', username=user.from)}}" role="button">Accept</a>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
    {% endif %}
{% endblock %}