{% extends "public/home_page.html" %}
{% block message %}
<div class="row d-flex flex-row align-items-center p-2 m-0 w-100" id="navbar" style="background:#a4adca; justify-content: space-between;">
    <div class="d-flex flex-column" style="width: fit-content;">
        {% if room.type=='chat' %}
            <div class="text-white font-weight-bold" id="name">{{roomMembers[0]}}</div>
            <div class="text-white small" id="status"></div>
        {% else %}
            <div class="text-white font-weight-bold" id="name">{{ room.name }}</div>
            <div class="text-white small" id="details">
                {{roomMembers}}
            </div>
            
        {% endif %}
    </div>
    <div class="d-flex flex-row align-items-center ml-auto" style="width: fit-content;">
        <a href="#" data-bs-toggle="dropdown" aria-expanded="false"><img src="/static/icons/three-dots-vertical.svg"></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="{{url_for('public.roomSummery', room_id=room._id)}}">Export Chat</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item btn btn-danger" href="{{url_for('public.leave_room', room_id=room._id)}}">Leave Room</a></li>
        </ul>
    </div>
</div>

<div>
    <ul class="list-group">
        <!-- <button type="button" id="load_older_messages_btn">Load Older Messages</button> -->
        {% for message in messages %}
            <li class="list-group-item">
                <div>
                    {{message.date}}
                </div>
            {% if message.sender==current_user.username %}
            
                <div class="align-self-end self p-1 my-1 mx-3 rounded bg-white shadow-sm message-item" style="float: right; width: fit-content;">
                    <div class="options">
                        <a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
                    </div>
                    
                    <div class="d-flex flex-row">
                        <div class="body m-1 mr-2">{{ message.text }}</div>
                        <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
                            {{ message.created_at }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="align-self-start p-1 my-1 mx-3 rounded bg-white shadow-sm message-item" style="float: left; width: fit-content;">
                    <div class="options">
                        <a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
                    </div>
                    <div class="small font-weight-bold text-primary">
                        {{message.sender}}
                    </div>
                    <div class="d-flex flex-row">
                        <div class="body m-1 mr-2">{{ message.text }}</div>
                        <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
                            {{ message.created_at }}
                        </div>
                    </div>
                </div>
            {% endif %}
            </li>
        {% endfor %}
        <div class="d-flex flex-column" id="messages"></div>
    </ul>
</div>
{% if room.type!='Channel' or room.type=='Channel' and current_user.username in room.admin %}
<div class="justify-self-end align-items-center flex-row" style="position: fixed; bottom: 0px; width: 100%; background-color:azure">
    <form id="message_input_form">
        <input type="text" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm" id="message_input" placeholder="Enter your message here" autocomplete="off" style="width: 60%;padding-left:10px">
        <button class="text-muted px-3" type="submit">Send</button>
    </form>
</div>
{% else %}
<fieldset disabled>
<div class="justify-self-end align-items-center flex-row" style="position: fixed; bottom: 0px; width: 100%; background-color:azure">
    <form id="message_input_form">
        <input type="text" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm" id="message_input" placeholder="You don't have permission to send" style="width: 60%;padding-left:10px">
    </form>
</div>
</fieldset>
{% endif %}
<!-- <div class="d-none justify-self-end align-items-center flex-row" id="input-area">
    <a href="#"><i class="far fa-smile text-muted px-3" style="font-size:1.5rem;"></i></a>
    <form id="message_input_form">
        <input type="text" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm" id="message_input" placeholder="Enter your message here">
        <button class="text-muted px-3" type="submit">Send</button>
    </form>
</div> -->
<script src="/static/js/socketio.js"></script>
<script>
    const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        });

        let message_input = document.getElementById('message_input');
        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room._id }}",
                    roomType:"{{ room.type }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });

    /*
        let page = 0;

    document.getElementById("load_older_messages_btn").onclick = (e) => {
        page += 1;
        fetch("/rooms/{{ room._id }}/messages?page=" + page, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(messages => {
                messages.reverse().forEach(message => prepend_message(message.text, message.sender, message.created_at));
            })
        })
    };

    function prepend_message(message, username, created_at) {
        const newNode = document.createElement('li');
        newNode.classList="list-group-item";
        newNode.innerHTML = `
        <div class="align-self-${data.username === "{{current_user.username}}" ? "end self" : "start"} p-1 my-1 mx-3 rounded bg-white shadow-sm message-item" style="float:${data.username === "{{current_user.username}}" ? "right" : "left"} ; width: fit-content;">
            <div class="options">
                <a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
            </div>
            <div class="small font-weight-bold text-primary">
                ${data.username}
            </div>
            <div class="d-flex flex-row">
                <div class="body m-1 mr-2">${data.message}</div>
                <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
                    ${data.created_at}
                </div>
            </div>
        </div>
        `;
        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(newNode, messages_div.firstChild);
    } 
    */
    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })
    };

    socket.on('receive_message', function (data) {
        const newNode = document.createElement('li');
        newNode.classList="list-group-item";
        if(data.username !=='{{current_user.username}}'){
            newNode.innerHTML = `
        <div class="align-self-${data.username === "{{current_user.username}}" ? "end self" : "start"} p-1 my-1 mx-3 rounded bg-white shadow-sm message-item" style="float:${data.username === "{{current_user.username}}" ? "right" : "left"} ; width: fit-content;">
            <div class="options">
                <a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
            </div>
            <div class="small font-weight-bold text-primary">
                ${data.username}
            </div>
            <div class="d-flex flex-row">
                <div class="body m-1 mr-2">${data.message}</div>
                <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
                    ${data.created_at}
                </div>
            </div>
        </div>
        `;
        }
        else{
            newNode.innerHTML = `
        <div class="align-self-${data.username === "{{current_user.username}}" ? "end self" : "start"} p-1 my-1 mx-3 rounded bg-white shadow-sm message-item" style="float:${data.username === "{{current_user.username}}" ? "right" : "left"} ; width: fit-content;">
            <div class="options">
                <a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
            </div>
            <div class="d-flex flex-row">
                <div class="body m-1 mr-2">${data.message}</div>
                <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
                    ${data.created_at}
                </div>
            </div>
        </div>
        `;
        }
        

        var node= document.getElementById('messages').appendChild(newNode);
        window.scrollTo(0,document.getElementById("messages").scrollHeight);
        //node.scrollIntoView();
    });

    socket.on('join_room_announcement', function (data) {
        if (data.username !== "{{ username }}") {
            const status=document.getElementById('status');
            status.innerHTML = `<h6>Online</h6>`;
        }
    });

    socket.on('leave_room_announcement', function (data) {
        const status=document.getElementById('status');
        status.innerHTML = `<h6>Last seen at: </h6>`;
    });
</script>
{% endblock %}