{% extends "public/home_page.html" %}
{% block message %}

<div class="row d-flex flex-row align-items-center p-2 m-0 w-100" id="msgNavbar">

    <div class="d-flex flex-column" style="width: fit-content;">
        {% if room.type=='chat' %}
        <div class="text-white font-weight-bold" id="name">{{roomMembers[0]}}</div>
        <div class="text-white small" id="status"></div>
        {% else %}
        <div class="text-white font-weight-bold" id="name">{{ room.name|safe }}</div>
        {% if room.official=="True" %}
        <div class="text-white small" id="details">
            This is Official Channel of this platform
        </div>
        {% else %}
        <div class="text-white small" id="details">
            {{roomMembers|join(',')}}
        </div>
        {% endif %}

        {% endif %}
    </div>
    <div class="d-flex flex-row align-items-center ml-auto threeDots">
        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/static/icons/three-dots-vertical.svg"></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="{{url_for('public.roomSummery', room_id=room._id)}}">Export Chat</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item btn btn-danger" href="{{url_for('public.leave_room', room_id=room._id)}}">Leave
                    Room</a></li>
        </ul>
    </div>
</div>

<div id="display-message-section">
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item">
            <div>
                {{message.date}}
            </div>
            {% if message.sender==current_user.username %}

            <div class="align-self-end self p-1 my-1 mx-3 rounded bg-white shadow-sm message-item" id="myMsg">
                <div class="options" id="msgOptions">
                    <a href="#"><img src="/static/icons/chevron-down.svg"></a>
                </div>

                <div class="d-flex flex-row">
                    <div class="body m-1 mr-2"><p>{{ message.text|safe }}</p></div>
                    <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" id="msgCreated">
                        {{ message.created_at }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="align-self-start p-1 my-1 mx-3 rounded bg-white shadow-sm message-item" id="otherMsg">
                <div class="options" id="msgOptions">
                    <a href="#"><img src="/static/icons/chevron-down.svg"></a>
                </div>
                <div class="small font-weight-bold text-primary">
                    {{message.sender}}
                </div>
                <div class="d-flex flex-row">
                    <div class="body m-1 mr-2">{{ message.text|safe }}</div>
                    <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" id="msgCreated">
                        {{ message.created_at }}
                    </div>
                </div>
            </div>
            {% endif %}
        </li>
        {% endfor %}
        <div class="d-flex flex-column" id="messages"></div>
    </ul>
</div>
{% if room.type!='Channel' or room.type=='Channel' and current_user.username in room.admin %}
<div class="justify-self-end align-items-center flex-row" id="input-area">
    
    <form id="message_input_form">
        <a class="btn" id="emoji" href="#"><img src="/static/icons/emoji-smile.svg"></a>
        <input type="text" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm" id="message_input"
            placeholder="Enter your message here" autocomplete="off">
        <button class="text-muted px-3" type="submit">Send</button>
    </form>
</div>
{% else %}
<fieldset disabled>
    <div class="justify-self-end align-items-center flex-row" id="input-area">
        <form id="message_input_form">
            <input type="text" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm" id="message_input"
                placeholder="You don't have permission to send">
        </form>
    </div>
</fieldset>
{% endif %}

<script src="/static/js/socketio.js"></script>
<script src="/static/js/fgEmojiPicker.js"></script>
    <script>
        const emojiPicker = new FgEmojiPicker({
            trigger: ['#emoji'],
            position: ['top', 'right'],
            preFetch: true,
            dir:'/static/js/',
            insertInto: document.getElementById('message_input'),
            emit(obj, triggerElement) {
                console.log(obj, triggerElement);
            }
        });
    </script>
<script>
    {% include '/public/chat.js' %}
</script>
{% endblock %}